/* Hauptcontainer für die Projekte */
.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

/* Sektionen für jede Kategorie */
.categorySection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Titel der Kategorien */
.categoryTitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 10px;
}

/* Grid-Layout für die Projektkarten */
.projectsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;
}

/* Media Query für eine bessere Darstellung auf kleinen Bildschirmen */
@media screen and (max-width: 830px) {
    .projectsGrid {
        flex-direction: column;
        align-items: center;
    }
}
